/* @import "tailwindcss"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background: transparent;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/Christmas.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
